// Breakpoints
$breakpoint_small: 600px;
$breakpoint_large: 1200px;

// Typography
$font_size_small: 1.4em;
$font_size_medium: 1.65em;
$font_size_large: 2em;

// Color
$color_dark: #0C121C;
$color_light: #4A4F54;
$color_xlight: #F0F2F2;