// Breakpoints
$breakpoint_small: 600px;
$breakpoint_large: 1200px;
$breakpoint_xlarge: 1800px;

// Typography
$font_size_base: 1em;
$font_size_medium: 1.2em;
$font_size_large: 1.4em;

// Color
$color_dark: black;
$color_light: grey;