@import '../theme/variables';

.VehicleListItem {

  // Layout
  display: flex;
  &__content {
    width: 65%;
  }
  &__media {
    width: 35%;
  }
  @media (min-width: $breakpoint_small) {
    flex-direction: column;
    &__content,
    &__media {
      width: auto;
    }
    &__content {
      height: 100%;
    }
  }

  // Vehicle Content Block
  &__content {
    padding: 2em 2.5em;
    border-bottom: 2px solid $color_xlight;
    @media (min-width: $breakpoint_small) {
      border-left: 1px solid $color_xlight;
      border-right: 1px solid $color_xlight;
      padding: 3.5em 2em;
      text-align: center;
    }
  }

  // Image Container
  &__media {
    line-height: 0;
    background: $color_xlight;
    align-items: center;
    justify-content: center;
    @media (min-width: $breakpoint_small) {
      height: 24.75em;
    }
    img,
    .imagePlaceholder {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  // Vehicle Title
  &__title {
    font-size: $font_size_large;
    text-transform: uppercase;
    letter-spacing: 0.075em;
    margin: 0 0 0.5em;
    // Border Lines for Vehicle Title On Desktop
    @media (min-width: $breakpoint_small) {
      position: relative;
      display: inline-block;
      padding: 0.4em 0;
      margin: 0 0 1.1em;
      &:before,
      &:after {
        content: '';
        position: absolute;
        height: 2px;
        background: $color_dark;
        width: 100%;
        top: 0;
        left: 0;
      }
      &:after {
        top: 100%;
      }
    }
  }

  // Content Formatting

  &__price {
    font-size: $font_size_medium;
    letter-spacing: 0.1em;
    @media (min-width: $breakpoint_small) {
      font-size: $font_size_small;
    }
  }

  &__data {
    color: $color_light;
  }

  &__description {
    margin: 0.6em 0 0;
    font-size: $font_size_small;
    line-height: 1.4em;
    @media (min-width: $breakpoint_small) {
      font-size: $font_size_medium;
    }
  }

  // Animation

  opacity: 0;
  .imageLazy {
    opacity: 0;
  }
  &.hasAppeared {
    animation: 0.5s 1 fade;
    animation-fill-mode: forwards;

    .VehicleListItem {
      &__content,
      &__price,
      &__description {
        opacity: 0;
        display: block;
        animation: 0.8s 1 slideUp;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
      }

      &__price,
      &__description {
        animation-name: slideDown;
        animation-delay: 0.3s;
      }

      &__description {
        animation-delay: 0.5s;
      }
    }
    .imageLazy {
      animation: 0.4s 1 fade;
      animation-fill-mode: forwards;
    }
  }

}

// Animations

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(2em);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-1em);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}