@import '../theme/variables';

.VehicleListItem {

  // Mobile Grid
  @media (max-width: $breakpoint_small) {
    display: flex;
    &__content {
      width: 65%;
    }
    &__media {
      width: 35%;
    }
  }

  // Vehicle Content Block
  &__content {
    padding: 2em;
    @media (min-width: $breakpoint_small) {
      text-align: center;
    }
  }

  // Image Container
  &__media {
    align-items: center;
    justify-content: center;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  // Vehicle Title
  &__title {
    font-size: $font_size_large;
    text-transform: uppercase;
    margin: 0.5em 0;
    // Border Lines for Vehicle Title On Desktop
    @media (min-width: $breakpoint_small) {
      position: relative;
      display: inline-block;
      padding: 0.25em 0;
      &:before,
      &:after {
        content: '';
        position: absolute;
        height: 3px;
        background: $color_dark;
        width: 100%;
        top: 0;
        left: 0;
      }
      &:after {
        top: auto;
        bottom: 0;
      }
    }
  }

  // Additional Data Formatting
  &__data {
    color: $color_light;
  }

  &__description {
    margin: 0.5em 0;
    font-size: $font_size_medium;
  }
}