@import '../theme/variables';

.VehicleList {
  // Grid
  @media (min-width: $breakpoint_small) {
    display: flex;
    flex-wrap: wrap;
  }
  // Grid Sizes
  > * {
    @media (min-width: $breakpoint_small) {
      width: 50%;
    }
    @media (min-width: $breakpoint_large) {
      width: 25%;
    }
  }
}

.VehicleListPlaceholder {
  padding: 5em 0;
  text-align: center;
}